<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va9gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA1AIAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAHVzYWdlcgAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAKJTAAAAAAAACAAAAAQDAABq
		bwAAAAAAAAgAAAAEAwAAcW8AAAAAAAAIAAAABAMAAHNvAAAAAAAACAAAAAQD
		AAAKNyYAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHEDRO95KGEGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwUAAAAB
		AQAAbWFjT1MAAAAIAAAABAMAAADAP2R0AAAACAAAAAAEAABBw9hVNNQ9zyQA
		AAABAQAARTEyQjE1MjUtMTJFOS00Mjc1LTg1MUUtOEZEQTZERTI0MjIzGAAA
		AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
		AQUAANwAAAABAgAAMTM0ZjZkMThmMWFlM2U3MzRkNDI2MDMwMWVlOWM0ZTA4
		ODg3ZTc2ODBjMjM3NzA2OGY2ODhhZjRmYTczYjk2MjswMDswMDAwODAwMDsw
		MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5h
		cHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAwMDAw
		MDZmNzM7MDE7L3VzZXJzL3VzYWdlci9saWJyYXJ5L2F1dG9zYXZlIGluZm9y
		bWF0aW9uAMwAAAD+////AQAAAAAAAAAQAAAABBAAAHwAAAAAAAAABRAAAOgA
		AAAAAAAAEBAAABQBAAAAAAAAQBAAAAQBAAAAAAAAAiAAANwBAAAAAAAABSAA
		AFABAAAAAAAAECAAAGABAAAAAAAAESAAAJABAAAAAAAAEiAAAHABAAAAAAAA
		EyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAAOgBAAAAAAAAAcAAADQBAAAA
		AAAAEcAAABQAAAAAAAAAEsAAAEQBAAAAAAAAgPAAAPABAAAAAAAA
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2022-04-28T01:38:04Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
